.cell {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
}

[data-state="present"] {
    background-color: var(--yellow);
}

[data-state="correct"] {
    background-color: var(--green);
}

[data-state="absent"] {
    background-color: var(--color-tone-4);
}

[data-state="blank"] {
    border: 2px solid var(--color-tone-4);
}
