@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap");
@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    // font-family: "Open Sans", sans-serif;
    height: 100%;
    background-color: #121213;
    margin: 0;
    padding: 0;
    overflow-y: hidden;

    #root {
        height: 100%;
    }
}
