:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d3d6da;
    --gray: #86888a;
    --gray-2: #dcdcdc;
    --gray-3: #dfdfdf;
    --darkGray: #939598;
    --white: #fff;
    --black: #212121;
    --black-2: #121212;
    --black-3: #363636;
    --orange: #f5793a;
    --blue: #85c0f9;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;

    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-tone-8: #ffffff;
    --color-tone-9: #424242;
    --color-tone-10: #dfdfdf;
    --color-tone-11: #dfdfdf;
    --color-tone-12: #dfdfdf;

    --tile-text-color: var(--color-tone-1);
}
