.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;

    .button {
        font-family: inherit;
        font-weight: bold;
        border: 0;
        height: 58px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        background-color: var(--color-tone-2);
        color: var(--color-tone-1);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        appearance: auto;
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-indent: 0px;
        text-shadow: none;
        text-align: center;
        box-sizing: border-box;
    }
}
